__pycache__/
*.pyc
._*
output/
dist/
.DS_Store
scripts/local/
*.pmx
*.pmd
*.blend
*.blend[0-9]*
*.vmd
*.vpd
textures/
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.bmp
*.tga
*.tif
*.tiff
*.dds
*.exr
*.ktx
*.fbx
*.obj
*.glb
*.gltf
*.dae
*.abc
*.ply
*.stl
